@charset "UTF-8";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#main{
  width: 100%;
  height: 100vh;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
#page{
  width:350px;
  height: auto;
  border: 1px solid black;
  box-shadow: 0 0 10px #ccc;
  border-radius: 20px;
  background: white;
  padding: 30px 20px;
}

#login h1{
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
}
#signup h1{
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 20px;
}
#login_email, #login_password,#username,
#sign_phone,#sign_email,#sign_password
{
  width: 100%;
  height: 30px;
  margin: 20px 10px 0px 0;
  padding: 5px 5px 5px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: "Ubuntu", sans-serif;
  color: #727272;
}
#login_btn,#sign_up_btn{
  width: 100%;
  height: 30px;
  margin: 30px 0 20px 0 ;
  border: none;
  font-family: "Ubuntu", sans-serif;
  background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
outline: none;
}
#login_frm, #signup_frm{
  margin: 10px 0;
}
#signup_frm{
  margin: 10px 0;
}
#login p,#signup p{
  font-size: 11px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}
#login span,#signup span{
  font-size: 12px;
  color: blue;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  
}
#signup{
  display: none;
}
#notice,#notice_email,#notice_pass{
  font-family: "Ubuntu", sans-serif;
  color: red;
  font-size: 10px;
  display: none;
}
