
        #box{
            width:600px;
            height:500px;
            border:1px solid #ccc;
            padding:30px;
            margin:50px auto;
            box-shadow:0px 0px 6px #000;
        }
        
        #first,#second{
            width:233px;
            height:55px;
            
            border:none;
            font-size:40px;
            
            outline: none;
            border:1px solid #ccc;
            padding:5px;
            box-sizing:border-box;
            
        }
        
        #second{
            margin-left:30px;
        }
        
        #result{
            width:100%;
            height:60px;
			
			font-size:40px;
			padding:8px;
			box-sizing:border-box;
       
            margin-bottom: 30px;
            box-shadow:0px 0px 6px #ccc;
        }
        
        #add,#sub,#mul,#divide,#rem{
            width:200px;
            height:50px;
            margin:20px;
            font-size:25px;
            border:none;
            border:1px solid #ccc;
            background:#323232;
            color:white;
        }
        
       #rem:hover{
            background:white;
            box-shadow: 0px 0px 6px grey;
            color:black;
        }
        #divide:hover{
            background:white;
            box-shadow: 0px 0px 6px grey;
            color:black;
        }
        
        #mul:hover{
            background:white;
            box-shadow: 0px 0px 6px grey;
            color:black;
        }
        #sub:hover{
            background:white;
            box-shadow: 0px 0px 6px grey;
            color:black;
        }
        #add:hover{
            background:white;
            box-shadow: 0px 0px 6px grey;
            color:black;
        }
h2{
    float: right;
    color:red;
    width: 100%;
}