/* Written by miracle_ad*/
body{
      padding:0;
      margin:0;
      box-sizing:border-box;
    }
    header{
      width:100%;
      height:80px;
      border-style:solid;
      padding:10px;
      margin:0;  
      box-sizing:border-box;
    }
    #main{
      float:left;
      font-size:40px;
      padding:0;
      margin:0px;
      width:50%;
     
    }
    p{
      float:right;
      margin:0;
      padding-bottom:20px;
      font-size:20px;
      width:50%;
    }
    #trust{
      border-style:solid;
      height:80px;
      width:100%;
      float:left;
      padding:0;
      margin-top:14px;
      background-color:rgba(242, 141, 73, 0.3);     
border-color:orange;      
      box-sizing:border-box;
    }
    #first{
      font-size:30px;
      width:600px;
      border:none;
      padding:20px;
      float:left;
      height:60px;
    }
    #second{
      font-size:30px;
      width:200px;
      border:none;
      padding:10px;
      float:left;
      height:60px;
    }
    form{
      padding:10px;
    }
    #third{
      border-width:10px;
      border-color:grey;
      width:100%;
      height:80px;
      float:left;
      background-color:grey;
    }
    #four
    {
      color:red;
      font-size:20px;
      width:20%;
      padding:20px;
    }
    a{
      text-decoration:none;
      color:black;
    }
    #five{
      width:100%;
      height:550px;
      border-width:10px;
      border-color:black;
      float:left;
      background-color:pink;
    }
    #online_book{
      width:40%;
      height:480px;
      background-color:white;
      margin:40px;
      padding:10px;
      box-sizing:border-box;
      float:left;
    }
    #books{
      width:180px;
      height:180px;
      float:left;
      box-sizing:border-box;
      padding:10px;
    }
    h1{
      font-size:20px;
      font-width:bold;
      float:center;
      width:100%;
    }
    #online{
      width:40%;
      height:480px;
      background-color:white;
      margin:40px;
      padding:10px;
      box-sizing:border-box;
      float:left;
    }
    #Online_order
    {
      width:80%;
      height:380px;
      box-sizing:border-box;
    }
    
    #ordernow{
      float:right;
      background-color:white;
      border:none;
      padding:5px;
      border-color:black;
      border-width:bold;
      border-style:solid;
      
    }
#ordernow_r{
      float:left;
      background-color:white;
      border:none;
      padding:5px;
      border-color:black;
      border-width:bold;
      border-style:solid;
      
    }
      #input_order
    {
      padding:0;
      margin:0;
      width:100%;
      box-sizing:border-box;
      height:30px;
    }
    #input_address
    {
      padding:0;
      margin:0;
      width:100%;
      box-sizing:border-box;
      height:35px;
    }
    #end{
      border-width:2px;
      border-color:black;
      border-style:solid;
       float:left;
      width:100%;
      height:200px;
  padding:20px;
      box-sizing:border-box;
    }
    #left{
border-width:2px;
      border-color:white;
      border-style:solid;
      float:left;
      width:200px;
      height:150px;
      padding:10px;
      background-color:white;
    }
    #right{
      border-width:2px;
      border-color:white;
      border-style:solid;
      float:right;
      width:200px;
      height:150px;
      padding:10px;
      background-color:white;
    }
    h2{
      margin-top:50px;
      color:red;
      text-align:center;
      background: rgba(0,0,0,0.4);
      width:600px;
      float:center;
      height:40px;
      
    }
      h3{
        text-align:center;
        
      }
      #back{
        width:40px;
        height:40px;
        margin-left:20px;
      }
